<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="com.example.quranichelper">

    <dist:module dist:instant="true"/>

    <uses-permission
            android:name="android.permission.GET_ACCOUNTS"
            android:maxSdkVersion="22"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_quran"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Rate">

        </activity>
        <activity android:name=".SplashScreen">

        </activity>
        <activity android:name=".SurahList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.SEARCH" />

            </intent-filter>
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".GoogleAccount">
        </activity>
        <activity android:name=".FingerPrintLock">
        </activity>
        <activity android:name=".LastListen">
        </activity>
        <activity android:name=".Downloads">
        </activity>
        <activity android:name=".FavoriteList">
        </activity>
        <activity android:name=".Listen">
        </activity>
        <activity android:name=".feedbackJ">
        </activity>
        <activity android:name=".Home">

        </activity>
    </application>

</manifest>